projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsNodoPagamenti/WsNodoPagamentiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Pagamenti" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Pagamenti" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConfigurazionePagamentiNodoPagamenti">
    <xs:sequence>
      <xs:element minOccurs="0" name="UrlWs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlBack" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlRitorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceFiscaleEnteCreditore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdModalitaPagamento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NodoPagamentiAttivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="SoggettoPendenza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagoDopoAttivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="PagoDopoGGScadenza" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurazionePagamentiNodoPagamenti" nillable="true" type="tns:ConfigurazionePagamentiNodoPagamenti" />
</xs:schema>