projects/Backoffice/SIGePro.Protocollo/Service References/AcarisManagementServicePort/ManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="managementservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:management="management.acaris.acta.doqui.it" name="ManagementService" targetNamespace="managementservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="common.acaris.acta.doqui.it">
      <xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS?xsd=ACARIS-Common.xsd" />
    </xsd:schema>
    <xsd:schema targetNamespace="management.acaris.acta.doqui.it">
      <xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS?xsd=ACARIS-Management.xsd" />
      <xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS?xsd=ACARIS-ManagementMessaging.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getVitalRecordCodeResponse">
    <wsdl:part name="output" element="management:getVitalRecordCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getVitalRecordCodeRequest">
    <wsdl:part name="input" element="management:getVitalRecordCode" />
  </wsdl:message>
  <wsdl:message name="addAnnotazioniResponse">
    <wsdl:part name="output" element="management:addAnnotazioniResponse" />
  </wsdl:message>
  <wsdl:message name="acarisException">
    <wsdl:part name="fault" element="common:acarisFault" />
  </wsdl:message>
  <wsdl:message name="addAnnotazioniRequest">
    <wsdl:part name="input" element="management:addAnnotazioni" />
  </wsdl:message>
  <wsdl:portType name="ManagementServicePort">
    <wsdl:operation name="getVitalRecordCode">
      <wsdl:input message="tns:getVitalRecordCodeRequest" />
      <wsdl:output message="tns:getVitalRecordCodeResponse" />
      <wsdl:fault name="getVitalRecordCodeFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="addAnnotazioni">
      <wsdl:input message="tns:addAnnotazioniRequest" />
      <wsdl:output message="tns:addAnnotazioniResponse" />
      <wsdl:fault name="addAnnotazioniFault" message="tns:acarisException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagementServiceBinding" type="tns:ManagementServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVitalRecordCode">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getVitalRecordCodeFault">
        <soap:fault use="literal" name="getVitalRecordCodeFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAnnotazioni">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="addAnnotazioniFault">
        <soap:fault use="literal" name="addAnnotazioniFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagementService">
    <wsdl:port name="ManagementServicePort" binding="tns:ManagementServiceBinding">
      <soap:address location="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>