projects/Backoffice/SIGePro.Protocollo/Service References/AcarisManagementServicePort/managementWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="management.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" targetNamespace="management.acaris.acta.doqui.it" jaxb:version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS?xsd=ACARIS-Management.xsd" />
  <xs:import schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS?xsd=ACARIS-Common.xsd" namespace="common.acaris.acta.doqui.it" />
  <xs:element name="getVitalRecordCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVitalRecordCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="vitalRecordCode" type="tns:VitalRecordCodeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAnnotazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="objectId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="annotazioni" type="common:AnnotazioniPropertiesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAnnotazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="idAnnotazioni" type="common:IdAnnotazioniType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnotazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="idAnnotazioni" type="common:IdAnnotazioniType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnotazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="annotazioni" type="common:AnnotazioniPropertiesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovimentazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="idMovimentazione" type="common:IdMovimentazioneType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMovimentazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="movimentazione" type="tns:MovimentazioneType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProvvedimentoAutorizzativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="idProvvedimentoAutorizzat" type="common:IdProvvedimentoAutorizzatType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProvvedimentoAutorizzativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="provvedimentoAutorizzat" type="tns:ProvvedimentoAutorizzatType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>