projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsComuniService/WsComuniService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneCittadinanze" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneCittadinanze" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCittadinanzaCompatto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CittadinanzaCompatto" nillable="true" type="tns:CittadinanzaCompatto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCittadinanzaCompatto" nillable="true" type="tns:ArrayOfCittadinanzaCompatto" />
  <xs:complexType name="CittadinanzaCompatto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codice" type="xs:int" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disabilitato" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlgPaeseComunitario" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CittadinanzaCompatto" nillable="true" type="tns:CittadinanzaCompatto" />
</xs:schema>