projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsComuniService/WsComuniService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/WsComuniService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" />
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/WsComuniService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneCittadinanze" />
  <xs:element name="FindComuniDaMatchParziale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchComune" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindComuniDaMatchParzialeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" minOccurs="0" name="FindComuniDaMatchParzialeResult" nillable="true" type="q1:ArrayOfDatiComuneCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaComuni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siglaProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaComuniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" minOccurs="0" name="GetListaComuniResult" nillable="true" type="q2:ArrayOfDatiComuneCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiComune">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceComune" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiComuneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" minOccurs="0" name="GetDatiComuneResult" nillable="true" type="q3:DatiComuneCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siglaProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" minOccurs="0" name="GetDatiProvinciaResult" nillable="true" type="q4:DatiProvinciaCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiProvinciaDaCodiceComune">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceComune" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiProvinciaDaCodiceComuneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" minOccurs="0" name="GetDatiProvinciaDaCodiceComuneResult" nillable="true" type="q5:DatiProvinciaCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaProvincie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaProvincieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" minOccurs="0" name="GetListaProvincieResult" nillable="true" type="q6:ArrayOfDatiProvinciaCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComuniAssociati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComuniAssociatiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" minOccurs="0" name="GetComuniAssociatiResult" nillable="true" type="q7:ArrayOfDatiComuneCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPecComuneAssociato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceComuneAssociato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPecComuneAssociatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPecComuneAssociatoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComuneDaCodiceIstat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceIstat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComuneDaCodiceIstatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneComuni" minOccurs="0" name="GetComuneDaCodiceIstatResult" nillable="true" type="q8:DatiComuneCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCittadinanze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCittadinanzeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneCittadinanze" minOccurs="0" name="GetCittadinanzeResult" nillable="true" type="q9:ArrayOfCittadinanzaCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCittadinanzaById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCittadinanzaByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneCittadinanze" minOccurs="0" name="GetCittadinanzaByIdResult" nillable="true" type="q10:CittadinanzaCompatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>