projects/Backoffice/SIGePro.Manager/Service References/WsPosizioniDebitorie/posizionidebitorie.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://gruppoinit.it/sigepro/schemas/messages/posizionidebitorie" xmlns:tns="http://gruppoinit.it/sigepro/definitions/posizionidebitorie" xmlns:p="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gruppoinit.it/sigepro/definitions/posizionidebitorie" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <p:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <p:import schemaLocation="http://localhost:8080/backend/services/posizionidebitorie?xsd=posizionidebitorie.xsd" namespace="http://gruppoinit.it/sigepro/schemas/messages/posizionidebitorie" />
    </p:schema>
  </wsdl:types>
  <wsdl:message name="InserisciPosizioneDaOnereRequest">
    <wsdl:part name="InserisciPosizioneDaOnereRequest" element="sch:InserisciPosizioneDaOnereRequest" />
  </wsdl:message>
  <wsdl:message name="InserisciPosizioneDaOnereRateizzatoResponse">
    <wsdl:part name="InserisciPosizioneDaOnereRateizzatoResponse" element="sch:InserisciPosizioneDaOnereRateizzatoResponse" />
  </wsdl:message>
  <wsdl:message name="InserisciPosizioneDaOnereRateizzatoRequest">
    <wsdl:part name="InserisciPosizioneDaOnereRateizzatoRequest" element="sch:InserisciPosizioneDaOnereRateizzatoRequest" />
  </wsdl:message>
  <wsdl:message name="InserisciPosizioneDaOnereResponse">
    <wsdl:part name="InserisciPosizioneDaOnereResponse" element="sch:InserisciPosizioneDaOnereResponse" />
  </wsdl:message>
  <wsdl:portType name="Posizionidebitorie">
    <wsdl:operation name="InserisciPosizioneDaOnereRateizzato">
      <wsdl:input name="InserisciPosizioneDaOnereRateizzatoRequest" message="tns:InserisciPosizioneDaOnereRateizzatoRequest" />
      <wsdl:output name="InserisciPosizioneDaOnereRateizzatoResponse" message="tns:InserisciPosizioneDaOnereRateizzatoResponse" />
    </wsdl:operation>
    <wsdl:operation name="InserisciPosizioneDaOnere">
      <wsdl:input name="InserisciPosizioneDaOnereRequest" message="tns:InserisciPosizioneDaOnereRequest" />
      <wsdl:output name="InserisciPosizioneDaOnereResponse" message="tns:InserisciPosizioneDaOnereResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PosizionidebitorieSoap11" type="tns:Posizionidebitorie">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserisciPosizioneDaOnereRateizzato">
      <soap:operation soapAction="InserisciPosizioneDaOnereRateizzato" />
      <wsdl:input name="InserisciPosizioneDaOnereRateizzatoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InserisciPosizioneDaOnereRateizzatoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciPosizioneDaOnere">
      <soap:operation soapAction="InserisciPosizioneDaOnere" />
      <wsdl:input name="InserisciPosizioneDaOnereRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InserisciPosizioneDaOnereResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PosizionidebitorieWsService">
    <wsdl:port name="PosizionidebitorieSoap11" binding="tns:PosizionidebitorieSoap11">
      <soap:address location="http://localhost:8080/backend/services/posizionidebitorie" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>