projects/Backoffice/SIGePro.Manager/Service References/EventiAttivitaWebService/Attivita1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gruppoinit.it/sigepro/definitions/attivita" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="Attivita" targetNamespace="http://gruppoinit.it/sigepro/definitions/attivita" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://gruppoinit.it/sigepro/schemas/messages/base" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/schemas/messages/base" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="EsitoOperazioneType">
        <xs:sequence>
          <xs:element name="esito" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listaErrori" nillable="true" type="tns:ErroreBackofficeType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErroreBackofficeType">
        <xs:sequence>
          <xs:element name="codice" type="xs:string" />
          <xs:element name="descrizione" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AllegatoBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="riferimento" type="tns:RiferimentoOggettoBackofficeType" />
          <xs:element name="datiFile" type="tns:FileBaseType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RiferimentoOggettoBackofficeType">
        <xs:sequence>
          <xs:element name="codice" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FileBaseType">
        <xs:sequence>
          <xs:element name="fileName" type="xs:string" />
          <xs:element minOccurs="0" name="mimeType" type="xs:string" />
          <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream" name="binaryData" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://gruppoinit.it/sigepro/schemas/messages/attivita" xmlns:ns1="http://gruppoinit.it/sigepro/schemas/messages/base" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/schemas/messages/attivita" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://gruppoinit.it/sigepro/schemas/messages/base" />
      <xs:element name="AggiornaCampiSchedeRequest" type="tns:AggiornaCampiSchedeRequestType" />
      <xs:element name="AggiornaCampiSchedeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="esito" type="ns1:EsitoOperazioneType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SnapShotRequest" type="tns:SnapShotRequestType" />
      <xs:element name="SnapShotResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="esito" type="ns1:EsitoOperazioneType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="schedaDinamicaAttivitaSalvataRequest">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="codiceAttivita" type="xs:int" />
          <xs:element name="codiceScheda" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="schedaDinamicaIstanzaSalvataRequest">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="codiceIstanza" type="xs:int" />
          <xs:element name="codiceScheda" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="schedaDinamicaAttivitaEliminataRequest">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="codiceAttivita" type="xs:int" />
          <xs:element name="codiceScheda" type="xs:int" />
          <xs:element maxOccurs="unbounded" name="idCampiDinamiciDaEliminare" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="schedaDinamicaIstanzaEliminataRequest">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="codiceIstanza" type="xs:int" />
          <xs:element name="codiceScheda" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="schedaDinamicaAggiuntaAdAttivitaRequest">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="codiceAttivita" type="xs:int" />
          <xs:element name="codiceScheda" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AggiornaCampiSchedeRequestType">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="software" type="xs:string" />
          <xs:element name="codiceAttivita" type="xs:int" />
          <xs:element name="codiceIstanza" nillable="true" type="xs:int" />
          <xs:element name="codiceScheda" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SnapShotRequestType">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="software" type="xs:string" />
          <xs:element name="codiceAttivita" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsd:schema xmlns:ns1="http://gruppoinit.it/sigepro/schemas/messages/base" xmlns:ns0="http://gruppoinit.it/sigepro/schemas/messages/attivita" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://gruppoinit.it/sigepro/definitions/attivita">
      <xsd:import namespace="http://gruppoinit.it/sigepro/schemas/messages/attivita" />
      <xsd:element name="schedaDinamicaAttivitaSalvata" nillable="true" type="ns0:schedaDinamicaAttivitaSalvataRequest" />
      <xsd:element name="schedaDinamicaAttivitaSalvataResponse" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="esito" type="ns1:EsitoOperazioneType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="schedaDinamicaIstanzaSalvata" nillable="true" type="ns0:schedaDinamicaIstanzaSalvataRequest" />
      <xsd:element name="schedaDinamicaIstanzaSalvataResponse" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="esito" type="ns1:EsitoOperazioneType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="schedaDinamicaAttivitaEliminata" nillable="true" type="ns0:schedaDinamicaAttivitaEliminataRequest" />
      <xsd:element name="schedaDinamicaAttivitaEliminataResponse" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="esito" type="ns1:EsitoOperazioneType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="schedaDinamicaIstanzaEliminata" nillable="true" type="ns0:schedaDinamicaIstanzaEliminataRequest" />
      <xsd:element name="schedaDinamicaIstanzaEliminataResponse" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="esito" type="ns1:EsitoOperazioneType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="schedaDinamicaAggiuntaAdAttivita" nillable="true" type="ns0:schedaDinamicaAggiuntaAdAttivitaRequest" />
      <xsd:element name="schedaDinamicaAggiuntaAdAttivitaResponse" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="esito" type="ns1:EsitoOperazioneType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="schedaDinamicaAttivitaEliminata">
    <wsdl:part name="schedaDinamicaAttivitaEliminata" element="tns:schedaDinamicaAttivitaEliminata" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaAttivitaEliminataResponse">
    <wsdl:part name="schedaDinamicaAttivitaEliminataResponse" element="tns:schedaDinamicaAttivitaEliminataResponse" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaAggiuntaAdAttivita">
    <wsdl:part name="schedaDinamicaAggiuntaAdAttivita" element="tns:schedaDinamicaAggiuntaAdAttivita" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaAttivitaSalvata">
    <wsdl:part name="schedaDinamicaAttivitaSalvata" element="tns:schedaDinamicaAttivitaSalvata" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaAggiuntaAdAttivitaResponse">
    <wsdl:part name="schedaDinamicaAggiuntaAdAttivitaResponse" element="tns:schedaDinamicaAggiuntaAdAttivitaResponse" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaIstanzaEliminataResponse">
    <wsdl:part name="schedaDinamicaIstanzaEliminataResponse" element="tns:schedaDinamicaIstanzaEliminataResponse" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaAttivitaSalvataResponse">
    <wsdl:part name="schedaDinamicaAttivitaSalvataResponse" element="tns:schedaDinamicaAttivitaSalvataResponse" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaIstanzaSalvata">
    <wsdl:part name="schedaDinamicaIstanzaSalvata" element="tns:schedaDinamicaIstanzaSalvata" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaIstanzaEliminata">
    <wsdl:part name="schedaDinamicaIstanzaEliminata" element="tns:schedaDinamicaIstanzaEliminata" />
  </wsdl:message>
  <wsdl:message name="schedaDinamicaIstanzaSalvataResponse">
    <wsdl:part name="schedaDinamicaIstanzaSalvataResponse" element="tns:schedaDinamicaIstanzaSalvataResponse" />
  </wsdl:message>
  <wsdl:portType name="Attivita">
    <wsdl:operation name="schedaDinamicaAttivitaSalvata">
      <wsdl:input name="schedaDinamicaAttivitaSalvata" message="tns:schedaDinamicaAttivitaSalvata" />
      <wsdl:output name="schedaDinamicaAttivitaSalvataResponse" message="tns:schedaDinamicaAttivitaSalvataResponse" />
    </wsdl:operation>
    <wsdl:operation name="schedaDinamicaIstanzaSalvata">
      <wsdl:input name="schedaDinamicaIstanzaSalvata" message="tns:schedaDinamicaIstanzaSalvata" />
      <wsdl:output name="schedaDinamicaIstanzaSalvataResponse" message="tns:schedaDinamicaIstanzaSalvataResponse" />
    </wsdl:operation>
    <wsdl:operation name="schedaDinamicaAttivitaEliminata">
      <wsdl:input name="schedaDinamicaAttivitaEliminata" message="tns:schedaDinamicaAttivitaEliminata" />
      <wsdl:output name="schedaDinamicaAttivitaEliminataResponse" message="tns:schedaDinamicaAttivitaEliminataResponse" />
    </wsdl:operation>
    <wsdl:operation name="schedaDinamicaIstanzaEliminata">
      <wsdl:input name="schedaDinamicaIstanzaEliminata" message="tns:schedaDinamicaIstanzaEliminata" />
      <wsdl:output name="schedaDinamicaIstanzaEliminataResponse" message="tns:schedaDinamicaIstanzaEliminataResponse" />
    </wsdl:operation>
    <wsdl:operation name="schedaDinamicaAggiuntaAdAttivita">
      <wsdl:input name="schedaDinamicaAggiuntaAdAttivita" message="tns:schedaDinamicaAggiuntaAdAttivita" />
      <wsdl:output name="schedaDinamicaAggiuntaAdAttivitaResponse" message="tns:schedaDinamicaAggiuntaAdAttivitaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AttivitaSoapBinding" type="tns:Attivita">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="schedaDinamicaAttivitaSalvata">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="schedaDinamicaAttivitaSalvata">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="schedaDinamicaAttivitaSalvataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="schedaDinamicaIstanzaSalvata">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="schedaDinamicaIstanzaSalvata">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="schedaDinamicaIstanzaSalvataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="schedaDinamicaAttivitaEliminata">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="schedaDinamicaAttivitaEliminata">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="schedaDinamicaAttivitaEliminataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="schedaDinamicaIstanzaEliminata">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="schedaDinamicaIstanzaEliminata">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="schedaDinamicaIstanzaEliminataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="schedaDinamicaAggiuntaAdAttivita">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="schedaDinamicaAggiuntaAdAttivita">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="schedaDinamicaAggiuntaAdAttivitaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Attivita">
    <wsdl:port name="attivitaSOAP" binding="tns:AttivitaSoapBinding">
      <soap:address location="http://10.50.55.45:8080/backend/services/attivita" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>