projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsEndoprocedimenti/WsEndoprocedimenti5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sigepro.net.WebServices.WsAreaRiservata.WcfServices.Endoprocedimenti" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sigepro.net.WebServices.WsAreaRiservata.WcfServices.Endoprocedimenti" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Endoprocedimenti/WsEndoprocedimenti.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Endoprocedimenti" />
  <xs:complexType name="ArrayOfTipiTitoloPerCodiceInventario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipiTitoloPerCodiceInventario" nillable="true" type="tns:TipiTitoloPerCodiceInventario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipiTitoloPerCodiceInventario" nillable="true" type="tns:ArrayOfTipiTitoloPerCodiceInventario" />
  <xs:complexType name="TipiTitoloPerCodiceInventario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodiceInventario" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Endoprocedimenti" minOccurs="0" name="TipiTitolo" nillable="true" type="q1:ArrayOfTipiTitoloDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipiTitoloPerCodiceInventario" nillable="true" type="tns:TipiTitoloPerCodiceInventario" />
</xs:schema>