projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsEndoprocedimenti/WsEndoprocedimenti2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseDtoOfintstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseDtoOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" type="xs:int" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDtoOfintstring" nillable="true" type="tns:BaseDtoOfintstring" />
</xs:schema>