projects/Backoffice/SIGePro.Protocollo/Service References/ProtocolloAurigaLoginService/WSLogin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://login.webservices.repository2.auriga.eng.it" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="service" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codApplicazione" type="xs:string" />
        <xs:element name="istanzaApplicazione" type="xs:string" />
        <xs:element name="userName" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="xml" type="xs:string" />
        <xs:element name="hash" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="serviceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codApplicazione" type="xs:string" />
        <xs:element name="istanzaApplicazione" type="xs:string" />
        <xs:element name="userName" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="xml" type="xs:string" />
        <xs:element name="hash" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="serviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceReturn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>