projects/Backoffice/SIGePro.Protocollo/Service References/AcarisNavigationServicePort/NavigationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="navigationservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:archive="archive.acaris.acta.doqui.it" name="NavigationService" targetNamespace="navigationservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="common.acaris.acta.doqui.it">
      <xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/navigationWS?xsd=ACARIS-Common.xsd" />
    </xsd:schema>
    <xsd:schema targetNamespace="archive.acaris.acta.doqui.it">
      <xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/navigationWS?xsd=ACARIS-Archive.xsd" />
      <xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/navigationWS?xsd=ACARIS-ArchiveMessaging.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getFolderParentRequest">
    <wsdl:part name="input" element="archive:getFolderParent" />
  </wsdl:message>
  <wsdl:message name="getDescendantsRequest">
    <wsdl:part name="input" element="archive:getDescendants" />
  </wsdl:message>
  <wsdl:message name="getDescendantsResponse">
    <wsdl:part name="output" element="archive:getDescendantsResponse" />
  </wsdl:message>
  <wsdl:message name="acarisException">
    <wsdl:part name="fault" element="common:acarisFault" />
  </wsdl:message>
  <wsdl:message name="getObjectParentsResponse">
    <wsdl:part name="output" element="archive:getObjectParentsResponse" />
  </wsdl:message>
  <wsdl:message name="getChildrenRequest">
    <wsdl:part name="input" element="archive:getChildren" />
  </wsdl:message>
  <wsdl:message name="getObjectParentsRequest">
    <wsdl:part name="input" element="archive:getObjectParents" />
  </wsdl:message>
  <wsdl:message name="getFolderParentResponse">
    <wsdl:part name="output" element="archive:getFolderParentResponse" />
  </wsdl:message>
  <wsdl:message name="getChildrenResponse">
    <wsdl:part name="output" element="archive:getChildrenResponse" />
  </wsdl:message>
  <wsdl:portType name="NavigationServicePort">
    <wsdl:operation name="getDescendants">
      <wsdl:input message="tns:getDescendantsRequest" />
      <wsdl:output message="tns:getDescendantsResponse" />
      <wsdl:fault name="getDescendantsFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getChildren">
      <wsdl:input message="tns:getChildrenRequest" />
      <wsdl:output message="tns:getChildrenResponse" />
      <wsdl:fault name="getChildrenFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getFolderParent">
      <wsdl:input message="tns:getFolderParentRequest" />
      <wsdl:output message="tns:getFolderParentResponse" />
      <wsdl:fault name="getFolderParentFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getObjectParents">
      <wsdl:input message="tns:getObjectParentsRequest" />
      <wsdl:output message="tns:getObjectParentsResponse" />
      <wsdl:fault name="getObjectParentsFault" message="tns:acarisException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NavigationServiceBinding" type="tns:NavigationServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDescendants">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getDescendantsFault">
        <soap:fault use="literal" name="getDescendantsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChildren">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getChildrenFault">
        <soap:fault use="literal" name="getChildrenFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolderParent">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getFolderParentFault">
        <soap:fault use="literal" name="getFolderParentFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getObjectParents">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getObjectParentsFault">
        <soap:fault use="literal" name="getObjectParentsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NavigationService">
    <wsdl:port name="NavigationServicePort" binding="tns:NavigationServiceBinding">
      <soap:address location="http://tst-applogic.reteunitaria.piemonte.it/actasrv/navigationWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>