projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsInterventi/WsInterventi11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sigepro.net.WebServices.WsAreaRiservata.WcfServices.Interventi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sigepro.net.WebServices.WsAreaRiservata.WcfServices.Interventi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInterventoBreveDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterventoBreveDto" nillable="true" type="tns:InterventoBreveDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterventoBreveDto" nillable="true" type="tns:ArrayOfInterventoBreveDto" />
  <xs:complexType name="InterventoBreveDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" type="xs:int" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterventoBreveDto" nillable="true" type="tns:InterventoBreveDto" />
</xs:schema>