projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsInterventi/WsInterventi3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.AllegatiDomandaOnline" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.AllegatiDomandaOnline" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Interventi/WsInterventi.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" />
  <xs:complexType name="ArrayOfAllegatoInterventoDomandaOnlineDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllegatoInterventoDomandaOnlineDto" nillable="true" type="tns:AllegatoInterventoDomandaOnlineDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllegatoInterventoDomandaOnlineDto" nillable="true" type="tns:ArrayOfAllegatoInterventoDomandaOnlineDto" />
  <xs:complexType name="AllegatoInterventoDomandaOnlineDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" base="q1:BaseDtoOfintstring">
        <xs:sequence>
          <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:AllegatoInterventoDomandaOnlineDto.CategoriaAllegatoIntervento" />
          <xs:element minOccurs="0" name="CodiceOggettoModello" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DimensioneMassima" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EstensioniAmmesse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LinkInformazioni" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeFileModello" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ordine" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RichiedeFirma" type="xs:boolean" />
          <xs:element minOccurs="0" name="Richiesto" type="xs:boolean" />
          <xs:element minOccurs="0" name="RiepilogoDomanda" type="xs:boolean" />
          <xs:element minOccurs="0" name="TipoDownload" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AllegatoInterventoDomandaOnlineDto" nillable="true" type="tns:AllegatoInterventoDomandaOnlineDto" />
  <xs:complexType name="AllegatoInterventoDomandaOnlineDto.CategoriaAllegatoIntervento">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" base="q2:BaseDtoOfintstring">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AllegatoInterventoDomandaOnlineDto.CategoriaAllegatoIntervento" nillable="true" type="tns:AllegatoInterventoDomandaOnlineDto.CategoriaAllegatoIntervento" />
</xs:schema>