projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsInterventi/WsInterventi10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Normative" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Normative" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Interventi/WsInterventi.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" />
  <xs:complexType name="ArrayOfNormativaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NormativaDto" nillable="true" type="tns:NormativaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNormativaDto" nillable="true" type="tns:ArrayOfNormativaDto" />
  <xs:complexType name="NormativaDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" base="q1:BaseDtoOfintstring">
        <xs:sequence>
          <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodiceOggetto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormativaDto" nillable="true" type="tns:NormativaDto" />
</xs:schema>