projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsEndoFrontoffice/WsEndoFrontofficeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/EndoFrontoffice/WsEndoFrontofficeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneEndoprocedimenti" />
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/EndoFrontoffice/WsEndoFrontofficeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sigepro.net.WebServices.WsAreaRiservata.WcfServices.EndoFrontoffice" />
  <xs:element name="GetFamiglieEndoFrontoffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamiglieEndoFrontofficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneEndoprocedimenti" minOccurs="0" name="GetFamiglieEndoFrontofficeResult" nillable="true" type="q1:ArrayOfFamigliaEndoFrontoffice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategorieEndoFrontoffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceFamiglia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategorieEndoFrontofficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneEndoprocedimenti" minOccurs="0" name="GetCategorieEndoFrontofficeResult" nillable="true" type="q2:ArrayOfCategoriaEndoFrontoffice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaEndoFrontoffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceCategoria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaEndoFrontofficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneEndoprocedimenti" minOccurs="0" name="GetListaEndoFrontofficeResult" nillable="true" type="q3:ArrayOfEndoBreveFrontoffice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGerarchiaEndo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valore" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sigepro.net.WebServices.WsAreaRiservata.WcfServices.EndoFrontoffice" minOccurs="0" name="livelloRicerca" type="q4:LivelloCaricamentoGerarchia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGerarchiaEndoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sigepro.net.WebServices.WsAreaRiservata.WcfServices.EndoFrontoffice" minOccurs="0" name="GetGerarchiaEndoResult" nillable="true" type="q5:RisultatoCaricamentoGerarchiaEndo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaTestualeEndo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partial" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneEndoprocedimenti" minOccurs="0" name="tipoRicerca" type="q6:TipoRicercaEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaTestualeEndoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneEndoprocedimenti" minOccurs="0" name="RicercaTestualeEndoResult" nillable="true" type="q7:RisultatoRicercaTestualeEndo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>