projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsEndoFrontoffice/WsEndoFrontofficeService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneEndoprocedimenti" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneEndoprocedimenti" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFamigliaEndoFrontoffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FamigliaEndoFrontoffice" nillable="true" type="tns:FamigliaEndoFrontoffice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamigliaEndoFrontoffice" nillable="true" type="tns:ArrayOfFamigliaEndoFrontoffice" />
  <xs:complexType name="FamigliaEndoFrontoffice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" type="xs:int" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamigliaEndoFrontoffice" nillable="true" type="tns:FamigliaEndoFrontoffice" />
  <xs:complexType name="ArrayOfCategoriaEndoFrontoffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaEndoFrontoffice" nillable="true" type="tns:CategoriaEndoFrontoffice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaEndoFrontoffice" nillable="true" type="tns:ArrayOfCategoriaEndoFrontoffice" />
  <xs:complexType name="CategoriaEndoFrontoffice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" type="xs:int" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaEndoFrontoffice" nillable="true" type="tns:CategoriaEndoFrontoffice" />
  <xs:complexType name="ArrayOfEndoBreveFrontoffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EndoBreveFrontoffice" nillable="true" type="tns:EndoBreveFrontoffice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEndoBreveFrontoffice" nillable="true" type="tns:ArrayOfEndoBreveFrontoffice" />
  <xs:complexType name="EndoBreveFrontoffice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" type="xs:int" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndoBreveFrontoffice" nillable="true" type="tns:EndoBreveFrontoffice" />
  <xs:simpleType name="TipoRicercaEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FraseCompleta" />
      <xs:enumeration value="AlmenoUnaParola" />
      <xs:enumeration value="TutteLeParole" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoRicercaEnum" nillable="true" type="tns:TipoRicercaEnum" />
  <xs:complexType name="RisultatoRicercaTestualeEndo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categorie" nillable="true" type="tns:ArrayOfCategoriaEndoFrontoffice" />
      <xs:element minOccurs="0" name="Endoprocedimenti" nillable="true" type="tns:ArrayOfEndoBreveFrontoffice" />
      <xs:element minOccurs="0" name="Famiglie" nillable="true" type="tns:ArrayOfFamigliaEndoFrontoffice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RisultatoRicercaTestualeEndo" nillable="true" type="tns:RisultatoRicercaTestualeEndo" />
</xs:schema>