projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsUrlAccessoConsoleService/WsUrlAccessoConsoleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Console/WsUrlAccessoConsoleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneConsole.UrlAccesso" />
  <xs:element name="GetUrlAccessoConsole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUrlAccessoConsoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.Logic.GestioneConsole.UrlAccesso" minOccurs="0" name="GetUrlAccessoConsoleResult" nillable="true" type="q1:ConfigurazioneUrlConsole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>