projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsInterventiAteco/WsInterventiAteco.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Procedure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Procedure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Interventi/WsInterventiAteco.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" />
  <xs:complexType name="ArrayOfFaseAttuativaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaseAttuativaDto" nillable="true" type="tns:FaseAttuativaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaseAttuativaDto" nillable="true" type="tns:ArrayOfFaseAttuativaDto" />
  <xs:complexType name="FaseAttuativaDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO" base="q1:BaseDtoOfintstring">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescrizioneEstesa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaseAttuativaDto" nillable="true" type="tns:FaseAttuativaDto" />
</xs:schema>