projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsInterventiAteco/WsInterventiAteco2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Oneri" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Oneri" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOnereDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnereDto" nillable="true" type="tns:OnereDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnereDto" nillable="true" type="tns:ArrayOfOnereDto" />
  <xs:complexType name="OnereDto">
    <xs:sequence>
      <xs:element name="_x003C_CampoDinamico_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_CodiceInterventoOEndoOrigine_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Codice_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Descrizione_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Importo_x003E_k__BackingField" type="xs:float" />
      <xs:element name="_x003C_InterventoOEndoOrigine_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Note_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrigineOnere_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnereDto" nillable="true" type="tns:OnereDto" />
</xs:schema>