projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/WsInterventiAteco/WsInterventiAteco4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PersonalLib2.Sql" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PersonalLib2.Sql" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Interventi/WsInterventiAteco.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DataClass">
    <xs:sequence>
      <xs:element name="_orderBy" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_othersJoinClause" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_othersSelectColumns" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_othersTables" nillable="true" type="q3:ArrayOfanyType" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_othersWhereClause" nillable="true" type="q4:ArrayOfanyType" />
      <xs:element name="_selectColumns" nillable="true" type="xs:string" />
      <xs:element name="_useForeign" type="tns:useForeignEnum" />
      <xs:element name="m_dataTableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataClass" nillable="true" type="tns:DataClass" />
  <xs:simpleType name="useForeignEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Yes" />
      <xs:enumeration value="Recoursive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="useForeignEnum" nillable="true" type="tns:useForeignEnum" />
</xs:schema>