projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/VotazioniCommissioniWs/WsVotazioniCommissione.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsVotazioniCommissione.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni.Votazioni" />
  <xs:element name="GetListaPareri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPareriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni.Votazioni" minOccurs="0" name="GetListaPareriResult" nillable="true" type="q1:ArrayOfCommissioniVotiBaseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVotoUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCommissione" type="xs:int" />
        <xs:element minOccurs="0" name="codiceAnagrafe" type="xs:int" />
        <xs:element minOccurs="0" name="uuidIstanza" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVotoUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni.Votazioni" minOccurs="0" name="GetVotoUtenteResult" nillable="true" type="q2:VotazionePraticaCommissioneDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtentePuoEsprimereVoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCommissione" type="xs:int" />
        <xs:element minOccurs="0" name="codiceAnagrafe" type="xs:int" />
        <xs:element minOccurs="0" name="uuidIstanza" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtentePuoEsprimereVotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UtentePuoEsprimereVotoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsprimiVotoPerUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCommissione" type="xs:int" />
        <xs:element minOccurs="0" name="codiceAnagrafe" type="xs:int" />
        <xs:element minOccurs="0" name="uuidIstanza" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni.Votazioni" minOccurs="0" name="voto" nillable="true" type="q3:VotoPraticaCommissioneDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsprimiVotoPerUtenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>