projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/CommissioniWs/WsCommissioni2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommissioneTestataDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommissioneTestataDto" nillable="true" type="tns:CommissioneTestataDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommissioneTestataDto" nillable="true" type="tns:ArrayOfCommissioneTestataDto" />
  <xs:complexType name="CommissioneTestataDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asincrona" type="xs:boolean" />
      <xs:element minOccurs="0" name="Convocazione" nillable="true" type="tns:ConvocazioneCommissioneDto" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OraFine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OraInizio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipologia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissioneTestataDto" nillable="true" type="tns:CommissioneTestataDto" />
  <xs:complexType name="ConvocazioneCommissioneDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ora" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvocazioneCommissioneDto" nillable="true" type="tns:ConvocazioneCommissioneDto" />
  <xs:complexType name="DettaglioCommissioneDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Convocazioni" nillable="true" type="tns:ArrayOfConvocazioneCommissioneDto" />
      <xs:element minOccurs="0" name="Documenti" nillable="true" type="tns:ArrayOfAllegatoCommissioneDao" />
      <xs:element minOccurs="0" name="Pratiche" nillable="true" type="tns:ArrayOfPraticaCommissioneBreveDto" />
      <xs:element minOccurs="0" name="Testata" nillable="true" type="tns:CommissioneTestataDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DettaglioCommissioneDto" nillable="true" type="tns:DettaglioCommissioneDto" />
  <xs:complexType name="ArrayOfConvocazioneCommissioneDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConvocazioneCommissioneDto" nillable="true" type="tns:ConvocazioneCommissioneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConvocazioneCommissioneDto" nillable="true" type="tns:ArrayOfConvocazioneCommissioneDto" />
  <xs:complexType name="ArrayOfAllegatoCommissioneDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllegatoCommissioneDao" nillable="true" type="tns:AllegatoCommissioneDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllegatoCommissioneDao" nillable="true" type="tns:ArrayOfAllegatoCommissioneDao" />
  <xs:complexType name="AllegatoCommissioneDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodiceOggetto" type="xs:int" />
      <xs:element minOccurs="0" name="DataApprovazione" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataRegistrazione" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nomefile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sha256" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sha256Controllo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllegatoCommissioneDao" nillable="true" type="tns:AllegatoCommissioneDao" />
  <xs:complexType name="ArrayOfPraticaCommissioneBreveDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PraticaCommissioneBreveDto" nillable="true" type="tns:PraticaCommissioneBreveDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPraticaCommissioneBreveDto" nillable="true" type="tns:ArrayOfPraticaCommissioneBreveDto" />
  <xs:complexType name="PraticaCommissioneBreveDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comune" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatiProtocollo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescrizioneLavori" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescrizioneParere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentiSelezionati" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCommissioniR" type="xs:int" />
      <xs:element minOccurs="0" name="Intervento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParereEsteso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Richiedente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uuid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PraticaCommissioneBreveDto" nillable="true" type="tns:PraticaCommissioneBreveDto" />
  <xs:complexType name="PraticaCommissioneEstesaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatiPratica" nillable="true" type="tns:PraticaCommissioneBreveDto" />
      <xs:element minOccurs="0" name="Documenti" nillable="true" type="tns:ListaDocumentiPraticaCommissioneDto" />
      <xs:element minOccurs="0" name="Localizzazioni" nillable="true" type="tns:ArrayOfLocalizzazionePraticaCommissioneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PraticaCommissioneEstesaDto" nillable="true" type="tns:PraticaCommissioneEstesaDto" />
  <xs:complexType name="ListaDocumentiPraticaCommissioneDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Endoprocedimenti" nillable="true" type="tns:ArrayOfDocumentoPraticaCommissioneDto" />
      <xs:element minOccurs="0" name="Istanza" nillable="true" type="tns:ArrayOfDocumentoPraticaCommissioneDto" />
      <xs:element minOccurs="0" name="Movimenti" nillable="true" type="tns:ArrayOfDocumentoPraticaCommissioneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaDocumentiPraticaCommissioneDto" nillable="true" type="tns:ListaDocumentiPraticaCommissioneDto" />
  <xs:complexType name="ArrayOfDocumentoPraticaCommissioneDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoPraticaCommissioneDto" nillable="true" type="tns:DocumentoPraticaCommissioneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoPraticaCommissioneDto" nillable="true" type="tns:ArrayOfDocumentoPraticaCommissioneDto" />
  <xs:complexType name="DocumentoPraticaCommissioneDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceOggetto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirmatoDigitalmente" type="xs:boolean" />
      <xs:element minOccurs="0" name="NomeFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoPraticaCommissioneDto" nillable="true" type="tns:DocumentoPraticaCommissioneDto" />
  <xs:complexType name="ArrayOfLocalizzazionePraticaCommissioneDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalizzazionePraticaCommissioneDto" nillable="true" type="tns:LocalizzazionePraticaCommissioneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalizzazionePraticaCommissioneDto" nillable="true" type="tns:ArrayOfLocalizzazionePraticaCommissioneDto" />
  <xs:complexType name="LocalizzazionePraticaCommissioneDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mappali" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Toponimo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalizzazionePraticaCommissioneDto" nillable="true" type="tns:LocalizzazionePraticaCommissioneDto" />
</xs:schema>