projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/CommissioniWs/WsCommissioni1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsCommissioni.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni" />
  <xs:element name="GetCommissioniAperteByCodiceAnagrafe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceAnagrafe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommissioniAperteByCodiceAnagrafeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni" minOccurs="0" name="GetCommissioniAperteByCodiceAnagrafeResult" nillable="true" type="q1:ArrayOfCommissioneTestataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDettaglioCommissione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCommissione" type="xs:int" />
        <xs:element minOccurs="0" name="codiceAnagrafe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDettaglioCommissioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni" minOccurs="0" name="GetDettaglioCommissioneResult" nillable="true" type="q2:DettaglioCommissioneDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDettaglioPratica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCommissione" type="xs:int" />
        <xs:element minOccurs="0" name="codiceAnagrafe" type="xs:int" />
        <xs:element minOccurs="0" name="uuidIstanza" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDettaglioPraticaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni" minOccurs="0" name="GetDettaglioPraticaResult" nillable="true" type="q3:PraticaCommissioneEstesaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaAccessoFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCommissione" type="xs:int" />
        <xs:element minOccurs="0" name="codiceAnagrafe" type="xs:int" />
        <xs:element minOccurs="0" name="uuidIstanza" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceOggetto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaAccessoFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificaAccessoFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApprovaAllegato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCommissione" type="xs:int" />
        <xs:element minOccurs="0" name="idAllegato" type="xs:int" />
        <xs:element minOccurs="0" name="codiceAnagrafe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApprovaAllegatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApprovaAllegatoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>