projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/CommissioniWs/WsCommissioni.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsCommissioni" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsCommissioni.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsCommissioni.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsCommissioni.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Commissioni" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsCommissioni_GetCommissioniAperteByCodiceAnagrafe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissioniAperteByCodiceAnagrafe" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_GetCommissioniAperteByCodiceAnagrafe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissioniAperteByCodiceAnagrafeResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_GetDettaglioCommissione_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDettaglioCommissione" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_GetDettaglioCommissione_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDettaglioCommissioneResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_GetDettaglioPratica_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDettaglioPratica" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_GetDettaglioPratica_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDettaglioPraticaResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_VerificaAccessoFile_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificaAccessoFile" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_VerificaAccessoFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificaAccessoFileResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_ApprovaAllegato_InputMessage">
    <wsdl:part name="parameters" element="tns:ApprovaAllegato" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioni_ApprovaAllegato_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApprovaAllegatoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsCommissioni">
    <wsdl:operation name="GetCommissioniAperteByCodiceAnagrafe">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCommissioni/GetCommissioniAperteByCodiceAnagrafe" message="tns:IWsCommissioni_GetCommissioniAperteByCodiceAnagrafe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCommissioni/GetCommissioniAperteByCodiceAnagrafeResponse" message="tns:IWsCommissioni_GetCommissioniAperteByCodiceAnagrafe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDettaglioCommissione">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCommissioni/GetDettaglioCommissione" message="tns:IWsCommissioni_GetDettaglioCommissione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCommissioni/GetDettaglioCommissioneResponse" message="tns:IWsCommissioni_GetDettaglioCommissione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDettaglioPratica">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCommissioni/GetDettaglioPratica" message="tns:IWsCommissioni_GetDettaglioPratica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCommissioni/GetDettaglioPraticaResponse" message="tns:IWsCommissioni_GetDettaglioPratica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificaAccessoFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCommissioni/VerificaAccessoFile" message="tns:IWsCommissioni_VerificaAccessoFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCommissioni/VerificaAccessoFileResponse" message="tns:IWsCommissioni_VerificaAccessoFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApprovaAllegato">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCommissioni/ApprovaAllegato" message="tns:IWsCommissioni_ApprovaAllegato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCommissioni/ApprovaAllegatoResponse" message="tns:IWsCommissioni_ApprovaAllegato_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsCommissioni" type="tns:IWsCommissioni">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommissioniAperteByCodiceAnagrafe">
      <soap:operation soapAction="http://tempuri.org/IWsCommissioni/GetCommissioniAperteByCodiceAnagrafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDettaglioCommissione">
      <soap:operation soapAction="http://tempuri.org/IWsCommissioni/GetDettaglioCommissione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDettaglioPratica">
      <soap:operation soapAction="http://tempuri.org/IWsCommissioni/GetDettaglioPratica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaAccessoFile">
      <soap:operation soapAction="http://tempuri.org/IWsCommissioni/VerificaAccessoFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApprovaAllegato">
      <soap:operation soapAction="http://tempuri.org/IWsCommissioni/ApprovaAllegato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsCommissioni">
    <wsdl:port name="BasicHttpBinding_IWsCommissioni" binding="tns:BasicHttpBinding_IWsCommissioni">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsCommissioni.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>