projects/Frontoffice/Init.Sigepro.FrontEnd.GestioneMovimenti/Service References/WsScadenzario/WsScadenzarioService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Scadenzario/WsScadenzarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Scadenzario" />
  <xs:element name="GetListaScadenze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Scadenzario" minOccurs="0" name="richiesta" nillable="true" type="q1:RichiestaListaScadenzeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaScadenzeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Scadenzario" minOccurs="0" name="GetListaScadenzeResult" nillable="true" type="q2:ArrayOfElementoListaScadenzeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScadenzaById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceScadenza" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScadenzaByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Scadenzario" minOccurs="0" name="GetScadenzaByIdResult" nillable="true" type="q3:ScadenzaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodiceMovimento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Scadenzario" minOccurs="0" name="GetMovimentoResult" nillable="true" type="q4:DatiMovimentoDaEffettuareDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentiSostituibili">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceMovimentodaeffettuare" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentiSostituibiliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Scadenzario" minOccurs="0" name="GetDocumentiSostituibiliResult" nillable="true" type="q5:DocumentiIstanzaSostituibiliDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurazioneMovimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceMovimento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurazioneMovimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Scadenzario" minOccurs="0" name="GetConfigurazioneMovimentoResult" nillable="true" type="q6:ConfigurazioneMovimentoDaEffettuareDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonMovimentoFrontoffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMovimento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonMovimentoFrontofficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonMovimentoFrontofficeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaJsonMovimentoFrontoffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMovimento" type="xs:int" />
        <xs:element minOccurs="0" name="datiJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaJsonMovimentoFrontofficeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImpostaFlagTrasmesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMovimento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImpostaFlagTrasmessoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>