projects/Frontoffice/Init.Sigepro.FrontEnd.GestioneMovimenti/Service References/WsScadenzario/WsScadenzarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsScadenzarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Scadenzario/WsScadenzarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Scadenzario/WsScadenzarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Scadenzario/WsScadenzarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Init.SIGePro.Manager.DTO.Scadenzario" />
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Scadenzario/WsScadenzarioService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsScadenzarioService_GetListaScadenze_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaScadenze" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetListaScadenze_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaScadenzeResponse" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetScadenzaById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScadenzaById" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetScadenzaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScadenzaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetMovimento_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovimento" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetMovimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovimentoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetDocumentiSostituibili_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentiSostituibili" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetDocumentiSostituibili_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentiSostituibiliResponse" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetConfigurazioneMovimento_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurazioneMovimento" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetConfigurazioneMovimento_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurazioneMovimentoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetJsonMovimentoFrontoffice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonMovimentoFrontoffice" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_GetJsonMovimentoFrontoffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonMovimentoFrontofficeResponse" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_SalvaJsonMovimentoFrontoffice_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvaJsonMovimentoFrontoffice" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_SalvaJsonMovimentoFrontoffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvaJsonMovimentoFrontofficeResponse" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_ImpostaFlagTrasmesso_InputMessage">
    <wsdl:part name="parameters" element="tns:ImpostaFlagTrasmesso" />
  </wsdl:message>
  <wsdl:message name="IWsScadenzarioService_ImpostaFlagTrasmesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImpostaFlagTrasmessoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsScadenzarioService">
    <wsdl:operation name="GetListaScadenze">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetListaScadenze" message="tns:IWsScadenzarioService_GetListaScadenze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetListaScadenzeResponse" message="tns:IWsScadenzarioService_GetListaScadenze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScadenzaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetScadenzaById" message="tns:IWsScadenzarioService_GetScadenzaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetScadenzaByIdResponse" message="tns:IWsScadenzarioService_GetScadenzaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovimento">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetMovimento" message="tns:IWsScadenzarioService_GetMovimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetMovimentoResponse" message="tns:IWsScadenzarioService_GetMovimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentiSostituibili">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetDocumentiSostituibili" message="tns:IWsScadenzarioService_GetDocumentiSostituibili_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetDocumentiSostituibiliResponse" message="tns:IWsScadenzarioService_GetDocumentiSostituibili_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneMovimento">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetConfigurazioneMovimento" message="tns:IWsScadenzarioService_GetConfigurazioneMovimento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetConfigurazioneMovimentoResponse" message="tns:IWsScadenzarioService_GetConfigurazioneMovimento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJsonMovimentoFrontoffice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetJsonMovimentoFrontoffice" message="tns:IWsScadenzarioService_GetJsonMovimentoFrontoffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsScadenzarioService/GetJsonMovimentoFrontofficeResponse" message="tns:IWsScadenzarioService_GetJsonMovimentoFrontoffice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvaJsonMovimentoFrontoffice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsScadenzarioService/SalvaJsonMovimentoFrontoffice" message="tns:IWsScadenzarioService_SalvaJsonMovimentoFrontoffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsScadenzarioService/SalvaJsonMovimentoFrontofficeResponse" message="tns:IWsScadenzarioService_SalvaJsonMovimentoFrontoffice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImpostaFlagTrasmesso">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsScadenzarioService/ImpostaFlagTrasmesso" message="tns:IWsScadenzarioService_ImpostaFlagTrasmesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsScadenzarioService/ImpostaFlagTrasmessoResponse" message="tns:IWsScadenzarioService_ImpostaFlagTrasmesso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsScadenzarioService" type="tns:IWsScadenzarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListaScadenze">
      <soap:operation soapAction="http://tempuri.org/IWsScadenzarioService/GetListaScadenze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzaById">
      <soap:operation soapAction="http://tempuri.org/IWsScadenzarioService/GetScadenzaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovimento">
      <soap:operation soapAction="http://tempuri.org/IWsScadenzarioService/GetMovimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentiSostituibili">
      <soap:operation soapAction="http://tempuri.org/IWsScadenzarioService/GetDocumentiSostituibili" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurazioneMovimento">
      <soap:operation soapAction="http://tempuri.org/IWsScadenzarioService/GetConfigurazioneMovimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJsonMovimentoFrontoffice">
      <soap:operation soapAction="http://tempuri.org/IWsScadenzarioService/GetJsonMovimentoFrontoffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaJsonMovimentoFrontoffice">
      <soap:operation soapAction="http://tempuri.org/IWsScadenzarioService/SalvaJsonMovimentoFrontoffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImpostaFlagTrasmesso">
      <soap:operation soapAction="http://tempuri.org/IWsScadenzarioService/ImpostaFlagTrasmesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsScadenzarioService">
    <wsdl:port name="BasicHttpBinding_IWsScadenzarioService" binding="tns:BasicHttpBinding_IWsScadenzarioService">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Scadenzario/WsScadenzarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>