projects/Frontoffice/Init.Sigepro.FrontEnd.AppLogic/Service References/CommissioniAccessoPINWs/WsCommissioniAccessoPIN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsCommissioniAccessoPIN" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsCommissioniAccessoPIN.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsCommissioniAccessoPIN.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsCommissioniAccessoPIN_VerificaValiditaPIN_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificaValiditaPIN" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioniAccessoPIN_VerificaValiditaPIN_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificaValiditaPINResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioniAccessoPIN_AssociaUtenteACommissioneByPIN_InputMessage">
    <wsdl:part name="parameters" element="tns:AssociaUtenteACommissioneByPIN" />
  </wsdl:message>
  <wsdl:message name="IWsCommissioniAccessoPIN_AssociaUtenteACommissioneByPIN_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssociaUtenteACommissioneByPINResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsCommissioniAccessoPIN">
    <wsdl:operation name="VerificaValiditaPIN">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCommissioniAccessoPIN/VerificaValiditaPIN" message="tns:IWsCommissioniAccessoPIN_VerificaValiditaPIN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCommissioniAccessoPIN/VerificaValiditaPINResponse" message="tns:IWsCommissioniAccessoPIN_VerificaValiditaPIN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssociaUtenteACommissioneByPIN">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCommissioniAccessoPIN/AssociaUtenteACommissioneByPIN" message="tns:IWsCommissioniAccessoPIN_AssociaUtenteACommissioneByPIN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCommissioniAccessoPIN/AssociaUtenteACommissioneByPINResponse" message="tns:IWsCommissioniAccessoPIN_AssociaUtenteACommissioneByPIN_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsCommissioniAccessoPIN" type="tns:IWsCommissioniAccessoPIN">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaValiditaPIN">
      <soap:operation soapAction="http://tempuri.org/IWsCommissioniAccessoPIN/VerificaValiditaPIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociaUtenteACommissioneByPIN">
      <soap:operation soapAction="http://tempuri.org/IWsCommissioniAccessoPIN/AssociaUtenteACommissioneByPIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsCommissioniAccessoPIN">
    <wsdl:port name="BasicHttpBinding_IWsCommissioniAccessoPIN" binding="tns:BasicHttpBinding_IWsCommissioniAccessoPIN">
      <soap:address location="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Commissioni/WsCommissioniAccessoPIN.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>